html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,code,a,abbr,address,del,em,img,small,strong,b,sub,sup,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,button,table,caption,thead,tbody,tfoot,tr,th,td,
article,aside,canvas,details,figure,figcaption,header,footer,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
	display: block;
}
ol,ul{
	list-style: none;
}
table{
	border-collapse:collapse;
	border-spacing: 0;
}
b,strong{
	font-weight: 700;
}
a,area,img,:focus{
	outline: 0;
}
img{
	border:0;
	max-width: 100%;
}

/*  base for all page */
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	line-height: 0;
	clear:both;
}
body{
	font:100%/1 Verdana,Tahoma,Helvetica,Arial,sans-serif;	
	min-width: 320px;
	background-color: #fff;
	color:#000;
}